mat-form-field{
    width:33%;
}
.submitButton{
    width:40%;
    
}
mat-card-actions{
    display: flex;
    justify-content: space-evenly;
}
.container{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 70%;
    
}
.card{
   width:80%;
}