<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Pilotos">
            <app-tab-vender-pilotos></app-tab-vender-pilotos>
        </mat-tab>
        <mat-tab label="Escuderias">
            <app-tab-vender-escuderias></app-tab-vender-escuderias>
        </mat-tab>

    </mat-tab-group>


</ng-template>