<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer text-align">
                    <th scope="col" name="piloto">Piloto
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Valor Mercado
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Puntos
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Puja
                    </th>
                  

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piloto of pilotos" class="table" style="background-color: orange;" >
                    <td><mat-card class="mx-auto" style="width: 70%;background-color: orange;" ><img src="assets/pilotos/{{piloto.nombre}}.png"
                        alt="{{piloto.nombre}}" height="40" width="40"> {{piloto.nombre}}</mat-card>
                        <mat-card class="mx-auto" style="width: 70%;background-color: red;" *ngIf="piloto.nombre === 'Andrea Dovizioso'"><img src="assets/pilotos/{{piloto.nombre}}.png"
                            alt="{{piloto.nombre}}" height="40" width="40"> {{piloto.nombre}}</mat-card></td>
                    <td style="text-align: right;"><mat-card class="mx-auto" style="width: 70%;background-color: #9D0000;">{{piloto.valorMercado}}</mat-card></td>
                    <td style="text-align: right;"><mat-card class="mx-auto" style="width: 70%;background-color: #9D0000;">{{piloto.puntos}}</mat-card></td>
                    <td >
                        <div class="form-group mx-auto my-auto" style="width: 70%;">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div></td>
<!--hay que meter valor puja como un input y traducciones si es posible-->
                </tr>
            </tbody>
        </table>


    </mat-card>

</ng-template>