<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer text-align">
                    <th scope="col" name="piloto">Piloto
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Valor Mercado
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Puntos
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Puja
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piloto of pilotos" class="table">

                    <td>
                        <mat-card *ngIf="piloto.escuderia !== 'white'" class="mx-auto" style="color:white"
                            [ngStyle]="{'background-color': piloto.escuderia}"><img
                                src="assets/pilotos/{{piloto.nombre}}.png" alt="{{piloto.nombre}}" height="40"
                                width="40"> {{piloto.nombre}}</mat-card>
                        <mat-card *ngIf="piloto.escuderia === 'white'" class="mx-auto" style="color:black"
                            [ngStyle]="{'background-color': piloto.escuderia}"><img
                                src="assets/pilotos/{{piloto.nombre}}.png" alt="{{piloto.nombre}}" height="40"
                                width="40"> {{piloto.nombre}}</mat-card>
                    </td>
                    <td class="align-middle" style="text-align: right">
                        <mat-card class="mx-auto" style="background-color: grey;">{{piloto.valorMercado}}</mat-card>
                    </td>
                    <td class="align-middle" style="text-align: right;">
                        <mat-card class="mx-auto" style="background-color: grey;">{{piloto.puntos}}</mat-card>
                    </td>
                    <td class="align-middle">
                        <input type="puja" class="form-control mx-auto" style="width: 70%" id="puja"
                            placeholder="Introducir puja">
                    </td>
                    <!--hay que meter valor puja como un input y traducciones si es posible-->
                </tr>
            </tbody>
        </table>


    </mat-card>


</ng-template>