<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--title>Hello, world!</!--title-->
</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!------------------------------------->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MOTOMAN</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
      aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="user" class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
      <div *ngIf="checkVisibility()" class="navbar-nav mr-auto">
        <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="" routerLinkActive="active">Inicio</a>

        <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/clasificacion"
          routerLinkActive="active">Clasificacion</a>
        <!-- <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/mercado" routerLinkActive="active">Mercado</a> -->
        <div class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdownSede" ngbDropdownToggle>Mercado</a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownSede">
            <a class="dropdown-item" routerLink="/mercado/comprar" routerLinkActive="active"
              (click)="toggleMenu()">Comprar</a>
            <a class="dropdown-item" routerLink="/mercado/vender" routerLinkActive="active"
              (click)="toggleMenu()">Vender</a>
          </div>
        </div>


        <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/alineacion"
          routerLinkActive="active">Alineacion</a>

        <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/predicciones"
          routerLinkActive="active">Apuestas</a>
        <ng-container>

          <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/pilotos"
            routerLinkActive="active">Pilotos</a>
          <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/escuderias"
            routerLinkActive="active">Escuderias</a>
          <a *ngIf="admin" (click)="toggleMenu()" class="nav-item nav-link" routerLink="/puntuacion"
            routerLinkActive="active">Puntos</a>
        </ng-container>
        <a (click)="logout()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Logout</a>
      </div>
      <div *ngIf="location.path()==='/liga'">



      </div>

    </div>
    <div *ngIf="!user" class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
      <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="" routerLinkActive="active">Iniciar Sesión</a>
      <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
    </div>

  </nav>

  <router-outlet></router-outlet>
  <!-- <app-login *ngIf="!user"></app-login> -->
</body>

</html>