//Estilos para la pantalla de noticias
.container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    
}
.card{
    width:75%;
    margin:10px;
}