<div class="container">
    <mat-card class="card">

        <mat-card-header>
            <mat-icon mat-card-avatar>motorcycle</mat-icon>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>

        <form #form="ngForm">
            <mat-card-content class="content">
                <mat-divider></mat-divider>

                <mat-form-field style="width: 35%;">
                    <input matInput type="text" name="name" placeholder="Nombre" [(ngModel)]="usuario.name"
                        [disabled]="deshabilitarForm">
                </mat-form-field>
                <mat-form-field style="width: 35%;">
                    <input matInput type="text" name="email" placeholder="Email" [(ngModel)]="usuario.email"
                        [disabled]="deshabilitarForm">
                </mat-form-field>

                <mat-form-field style="width: 35%;">
                    <input matInput type="password" name="password" placeholder="Contraseña"
                        [(ngModel)]="usuario.password" [disabled]="deshabilitarForm">
                </mat-form-field>
                <mat-form-field style="width: 35%;">
                    <input matInput type="password" name="confirmPassword" placeholder="Confirmar contraseña"
                        [(ngModel)]="usuario.c_password" [disabled]="deshabilitarForm">
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions class="actions">
                <button class="btn btn-secondary" style="width:40%" type="button" (click)="back()"
                    [disabled]="deshabilitarForm">Volver
                </button>
                <button class="btn btn-danger" style="width:40%" type="submit" (keyup.enter)="submitData(form)"
                    (click)="submitData(form)" [disabled]="deshabilitarForm">Enviar
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>>