//Estilos para la pantalla de detalle del piloto
.space{
    margin-top:20px;
    margin-left:30px;
}
.space p{
    
    line-height: 1;
}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 60%;
    
}
.card{
   width:60%;
   margin:10px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.actions{
    display: flex;
    justify-content: space-evenly;
}
