<!--Pantalla de detalle del piloto-->
<div class="container">

    <mat-card class="card" *ngIf="piloto">
        <mat-card-header style="margin:10px;">
            <mat-icon mat-card-avatar>sports_motorsports</mat-icon>
            <mat-card-title>

                Detalle piloto
                <mat-divider style="margin-top:10px;"></mat-divider>
            </mat-card-title>

        </mat-card-header>


        <mat-card-content class="content">
            <ng-container *ngIf="isLoading; then spinner; else detail"></ng-container>
            <ng-template #spinner>
                <mat-spinner class="spinner-center"></mat-spinner>
            </ng-template>
            <ng-template #detail>
                <div class="container">
                    <div>
                        <img src="assets/pilotos/{{piloto.nombre}}.png">

                    </div>
                    <div class="space">
                        <p><b>Nombre: </b>{{piloto.nombre}}</p>
                        <p><b>Edad: </b>{{piloto.edad}}</p>
                        <p><b>Número: </b>{{piloto.numero}}</p>
                        <p><b>País:</b>{{piloto.pais === 'Espana' ? 'España': piloto.pais}}</p>
                        <p><b>Puntos: </b>{{piloto.puntos}}</p>
                        <p><b>Escudería: </b>{{piloto.nombre_escuderia}}</p>
                    </div>

                </div>




            </ng-template>

        </mat-card-content>
        <mat-card-actions class="actions">
            <button class="btn btn-danger" style="width:100%;float: right;" type="button" (click)="back()">Volver
            </button>

        </mat-card-actions>

    </mat-card>
</div>