/*@media (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        div{
            padding-top:20px;
        }
    }

}
@media (max-width: 599px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        div{
            padding-top:20px;
        }
    }
}*/
// .card{
//     display:flex;

    
//     align-items:center;

//     justify-content: center;
//     border-bottom: none;
//     height: 70%;
// }
// .container{
//     display:flex;
//     flex-direction: row;
    
//     align-items:center;

//     justify-content: space-evenly;

    
// }
.space{
    margin-top:20px;
    margin-left:30px;
}
.space p{
    
    line-height: 1;
}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 60%;
    
}
.card{
   width:60%;
   margin:10px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.actions{
    display: flex;
    justify-content: space-evenly;
}
