<!--Pantalla de clasificacion-->
<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer">
                    <th scope="col" name="piloto" (click)="sort('name')">Usuarios
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down
                        </mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up
                        </mat-icon>
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosGP')">Puntos GP
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down
                        </mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up
                        </mat-icon>
                    </th>
                    <th scope="col" name="piloto" (click)="sort('puntosTotales')">Puntos Totales
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down
                        </mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up
                        </mat-icon>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios" class="table-dark " style="color:#9D0000">
                    <td style="text-align: left;">{{user.name}}</td>
                    <td style="text-align: left;">{{user.puntosGP}}</td>
                    <td style="text-align: left;">{{user.puntosTotales}}</td>
                </tr>
            </tbody>
        </table>


    </mat-card>

</ng-template>