<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer">
                    <th scope="col" name="piloto">Usuarios
                    </th>
                    <th scope="col" name="piloto">Puntos
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios" class="table-dark pointer" style="color:#9D0000">

                    <td style="text-align: left;">{{piloto.escuderia}}</td>

                </tr>
            </tbody>
        </table>


    </mat-card>

</ng-template>