
.containerr{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 80%;
    
}
.cardd{
    width:60%;
    margin:10px;
    height:60%;
}
.card{
    display:flex;

    
    align-items:center;

    justify-content: center;
    border-bottom: none;
   
 
}
.container{
    display:flex;
    flex-direction: row;
    
    align-items:center;

    // justify-content: center;
    justify-content: space-evenly;

    
}
.container mat-card{
    margin-top:20px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:x-large;
  }
 