<!--mat-card style="width: 25%;" class="card">

    <img class="img-fluid" style="opacity:0.3" src="assets/varios/bandera.jpg" alt="bandera" height="auto">
    <div class="card-img-overlay">
        <h3 class="card-text" style="color:red">Crear liga</h3>
    </div>
</mat-card>

<mat-card style="width: 25%;margin-top:20px;">

    <img class="img-fluid" style="opacity:0.3" src="assets/varios/bandera.jpg" alt="bandera" height="auto">
    <div class="card-img-overlay">
        <h3 class="card-text" style="color:red">Unirse a liga</h3>
    </div>
</mat-card-->


<div class="card">
    <mat-card>
        <mat-card-header style="margin:10px;">
            <mat-card-title>Ligas</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <div class="container">
                <mat-card>
                    <a routerLink="liga-create">
                        <img style="opacity:0.3" src="assets/varios/bandera.jpg" alt="bandera" height="170vh">

                        <h3 class="centered" style="color:red">Crear liga</h3>
                    </a>
                </mat-card>
                <mat-card>
                    <a routerLink="liga-search">
                        <img style="opacity:0.3" src="assets/varios/bandera.jpg" alt="bandera" height="170px">

                        <h3 class="centered" style="color:red">Unirse a liga</h3>
                    </a>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>