<div class="title">
    <h1>Comprar escuderias</h1>
    <mat-card class="card" style="margin-top:10px;margin-right: 50px;">
        <mat-icon style="font-size: 20px;">
            account_balance
        </mat-icon>
        <mat-card-title>
            Saldo:
            <span>
                {{user.usuario.saldo}}
            </span>
        </mat-card-title>
    </mat-card>

</div>
<form #formEscuderias="ngForm">
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr class="pointer text-align">
                    <th scope="col" name="escuderia">Escuderia
                    </th>
                    <th scope="col" name="escuderia" (click)="sort('puntosTotales')">Valor Mercado
                    </th>
                    <th scope="col" name="escuderia" (click)="sort('puntosTotales')">Puntos
                    </th>
                    <th scope="col" name="escuderia" (click)="sort('puntosTotales')">Puja
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let escuderia of escuderias" class="table">
                    <td>
                        <mat-card *ngIf="escuderia.color !== 'white'" style="color:white" class="mx-auto"
                            [ngStyle]="{'background-color': escuderia.color}">
                            {{escuderia.nombre}}</mat-card>
                        <mat-card *ngIf="escuderia.color === 'white'" style="color:black" class="mx-auto"
                            [ngStyle]="{'background-color': escuderia.color}">
                            {{escuderia.nombre}}</mat-card>
                    </td>
                    <td class="align-middle" style="text-align: right">
                        <mat-card class="mx-auto" style="background-color: grey;">{{escuderia.valorMercado}}
                        </mat-card>
                    </td>
                    <td class="align-middle" style="text-align: right;">
                        <mat-card class="mx-auto" style="background-color: grey;">{{escuderia.puntos}}
                        </mat-card>
                    </td>
                    <td class="align-middle">
                        <input type="puja" class="form-control mx-auto" style="width: 70%" id="puja" name="puja"
                            placeholder="Introducir puja" [(ngModel)]="escuderia.puja"
                            (ngModelChange)="coleccionPujasEscuderias(escuderia, escuderia.puja)">
                    </td>
                </tr>


            </tbody>
        </table>
        <mat-card-actions>
            <button class="btn btn-secondary submitButton " type="button"
                (click)="limpiarDatosPujas(formEscuderias)">Limpiar
            </button>
            <button [disabled]="formInvalid" class="btn btn-danger submitButton " type="button"
                (click)="enviarPujas(formEscuderias)">
                <span matTooltip="Puja inválida" [matTooltipDisabled]="!formInvalid">
                    Enviar
                </span>
            </button>
        </mat-card-actions>


    </mat-card>
</form>