.title{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.card{
    flex-direction: row;
    align-items:center;
    background-color:#dc3545;
    color:white;

}
.text-align{
    text-align: center;
}
mat-card-actions{
    display: flex;
    justify-content: space-evenly;
}
.submitButton{
    width:40%;
    
}


.errors{
    color:red;
    font-size:12px;
}


