<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <div class="container">
        <mat-card class="card">

            <mat-card-header>
                <mat-icon mat-card-avatar>motorcycle</mat-icon>
                <mat-card-title *ngIf="!escuderiaId">Añadir escuderia</mat-card-title>
                <mat-card-title *ngIf="escuderiaId">Editar escuderia</mat-card-title>
            </mat-card-header>

            <form #formEscuderias="ngForm">
                <mat-card-content class="content">
                    <mat-divider></mat-divider>

                    <mat-form-field style="width: 35%;">
                        <input matInput type="text" name="nombre" placeholder="Nombre" [(ngModel)]="escuderia.nombre"
                            required>
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="puntos" placeholder="Puntos" [(ngModel)]="escuderia.puntos"
                            required>
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="valorMercado" placeholder="Valor Mercado"
                            [(ngModel)]="escuderia.valorMercado" required>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions class="actions">
                    <button class="btn btn-secondary" style="width:40%" type="button" (click)="back()">Volver
                    </button>
                    <button class="btn btn-danger" style="width:40%" type="submit" [disabled]="!formEscuderias.valid"
                        (keyup.enter)="submitData(formEscuderias)" (click)="submitData(formEscuderias)">Enviar
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</ng-template>