//estilos para la pantalla de vender escuderias
.title{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.card{
    flex-direction: row;
    align-items:center;
    background-color:#dc3545;
    color:white;

}
mat-card-actions{
    display: flex;
    justify-content: space-evenly;
}
.submitButton{
    width:40%;
    
}