<div>
    <h1 style="text-align:center">Alineación</h1>
    <mat-card class="container">
        <table class="table" style="width: 80%;">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">Piloto</th>
                    <th style="text-align: center;">Escuderia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 22%;">
                        <span>Moto GP</span>
                    </td>
                    <td>
                        <mat-card style="background-color: grey;" (click)="openDialog('pilotosMotoGp')">
                            {{equipo.pilotosMotoGp}}
                        </mat-card>
                    </td>
                    <td>
                        <mat-card style="background-color: green;" (click)="openDialog('escuderiasMotoGp')">
                            {{equipo.escuderiasMotoGp}}
                        </mat-card>
                    </td>
                </tr>
                <tr>
                    <td style="width: 22%;">
                        <span>Moto 2</span>
                    </td>
                    <td>
                        <mat-card style="background-color: grey;"></mat-card>
                    </td>
                    <td>
                        <mat-card style="background-color: green;"></mat-card>
                    </td>
                </tr>
                <tr>
                    <td style="width: 22%;">
                        <span>Moto 3</span>
                    </td>
                    <td>
                        <mat-card style="background-color: grey;"></mat-card>
                    </td>
                    <td>
                        <mat-card style="background-color: green;"></mat-card>
                    </td>
                </tr>

            </tbody>
        </table>
    </mat-card>
    <mat-card-actions class="actionButtons">
        <button class="btn btn-secondary" style="width:40%;" type="button" (click)="borrarAlineacion()"
            [disabled]="isLoading">Limpiar
        </button>
        <button class="btn btn-danger" style="width:40%; " type="button" (click)="guardar()" [disabled]="isLoading">
            Guardar
        </button>
    </mat-card-actions>

</div>