//Estilos para la alineación
table th{
    border:none;
}
table td{
    border:none;
    width: 33%;
  
    mat-card {
        height: 6vh;
    }
}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 45%;
    
}
.card{
   width:80%;
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    
}
.actions{
    display: flex;
    justify-content: space-evenly;
}
.card-alineacion-color{
    color:white;
    background-color: #8C3545;
}


