<table class="table table-bordered table-hover table-striped">
    <thead class=" thead-dark">
        <tr class="pointer text-align">
            <th scope="col" name="piloto">Nombre
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let equipo of equipos" class="table">
            <td class="align-middle" style="text-align: right;">
                <mat-card *ngIf="equipo" class="mx-auto" style="background-color: grey;" (click)="closeDialog(equipo)">
                    {{equipo.nombre}}
                </mat-card>
            </td>
        </tr>
    </tbody>
</table>