<!--Pantalla para el login-->
<div class="container">

    <mat-card class="card">
        <mat-card-header style="margin:10px;">
            <mat-icon mat-card-avatar>sports_motorsports</mat-icon>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>

        <form>
            <mat-card-content>
                <mat-divider></mat-divider>
                <div style="text-align:center;">
                    <mat-form-field style="width: 75%;">
                        <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
                    </mat-form-field>
                </div>
                <div style="text-align:center;">
                    <mat-form-field style="width: 75%;">
                        <input matInput type="password" placeholder="Contraseña" name="password"
                            [(ngModel)]="user.password">
                    </mat-form-field>
                </div>
                <span class="errors" *ngIf="tieneError"> El email o la contraseña no son correctos</span>

            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-danger" style="width:100%; margin-right: 0.5em" type="submit"
                    (click)="checkLogin()" (keyup.enter)="checkLogin()">Enviar
                </button>

            </mat-card-actions>
        </form>


    </mat-card>
</div>