<!--Pantalla de unirse a liga-->
<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr style="text-align: center;">
                    <th scope="col" name="piloto">Liga

                    </th>
                    <th scope="col">Numero participantes

                    </th>
                    <th scope="col" style="text-align: center;">Maximo Participantes
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liga of ligas" class="table-dark " style="color:#9D0000;text-align: center;">
                    <td>
                        {{liga.nombre_liga}}
                    </td>
                    <td>
                        {{liga.numParticipantes}}
                    </td>
                    <td>
                        {{liga.maxParticipantes}}
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-danger" type="button" (click)="anadirUsuario(liga)">
                            Entrar
                        </button>
                    </td>
                </tr>
                <tr *ngIf="ligas.length === 0">
                    <td colspan="4" style="text-align: center;">
                        <span>No hay ligas para unirse</span>
                    </td>

                </tr>

            </tbody>
        </table>


    </mat-card>

</ng-template>