<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <div class="container">
        <mat-card class="card">

            <mat-card-header>
                <mat-icon mat-card-avatar>motorcycle</mat-icon>
                <mat-card-title *ngIf="!pilotoId">Añadir piloto</mat-card-title>
                <mat-card-title *ngIf="pilotoId">Editar piloto</mat-card-title>
            </mat-card-header>

            <form #formPilotos="ngForm">
                <mat-card-content class="content">
                    <mat-divider></mat-divider>

                    <mat-form-field style="width: 35%;">
                        <input matInput type="text" name="nombre" placeholder="Nombre" [(ngModel)]="piloto.nombre"
                            required>
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <input matInput type="text" name="pais" placeholder="País" [(ngModel)]="piloto.pais">
                    </mat-form-field>

                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="numero" placeholder="Numero" [(ngModel)]="piloto.numero">
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="puntos" placeholder="Puntos" [(ngModel)]="piloto.puntos"
                            required>
                    </mat-form-field>

                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="edad" placeholder="Edad" [(ngModel)]="piloto.edad">
                    </mat-form-field>
                    <mat-form-field style="width: 35%;">
                        <input matInput type="number" name="valorMercado" placeholder="Valor Mercado"
                            [(ngModel)]="piloto.valorMercado" required>
                    </mat-form-field>

                    <mat-form-field style="width: 80%;">
                        <mat-label>Escuderia</mat-label>

                        <mat-select name="escuderia" [(ngModel)]="piloto.id_escuderia" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let escuderia of escuderias" [value]="escuderia.id">
                                {{escuderia.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions class="actions">
                    <button class="btn btn-secondary" style="width:40%" type="button" (click)="back()">Volver
                    </button>
                    <button class="btn btn-danger" style="width:40%" type="submit" [disabled]="!formPilotos.valid"
                        (keyup.enter)="submitData(formPilotos)" (click)="submitData(formPilotos)">Enviar
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</ng-template>