<!--Modal de confirmacion de eliminacion del piloto o escuderia-->
<div>
    <mat-card>

        <mat-card-header>
            <mat-icon mat-card-avatar>motorcycle</mat-icon>
            <mat-card-title>Eliminar registro</mat-card-title>
        </mat-card-header>


        <mat-card-content>
            <p>¿Desea eliminar este registro?</p>
        </mat-card-content>

        <mat-card-actions class="actions">
            <button class="btn btn-secondary" style="width:40%" type="button" (click)="accept()">Si
            </button>
            <button class="btn btn-danger" style="width:40%" type="button" (click)="cancel()">No
            </button>
        </mat-card-actions>

    </mat-card>
</div>