<!--Pantalla de puntuaciones de las escuderias-->
<form #formEscuderia="ngForm">
    <h1>Puntuaciones escuderías</h1>
    <mat-card style="margin:10px;">

        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer">

                    <th scope="col" (click)="sort('nombre')">Escuderia
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up</mat-icon>
                    </th>


                    <th scope="col" style="text-align: center;" (click)="sort('puntosTotales')">Puntos Totales
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up</mat-icon>
                    </th>
                    <th scope="col" style="text-align: center;" (click)="sort('puntos_escuderia')">Puntos Actuales
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up</mat-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let escuderia of escuderias" class="table-dark pointer" style="color:#9D0000">
                    <td style="text-align: left;">{{escuderia.nombre_escuderia}}
                    </td>
                    <td style="text-align: left;">{{escuderia.puntosTotales}}
                    </td>
                    <td class="align-middle" style="text-align: center;">

                        <mat-select name="puntos" placeholder="Introducir puntos" [(value)]="escuderia.puntos_escuderia"
                            (selectionChange)="puntuacionEscuderia(escuderia)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let valor of valores" [value]="valor"
                                [disabled]="deshabilitarValores(valor)">
                                {{valor}}
                            </mat-option>

                        </mat-select>


                    </td>

                </tr>
            </tbody>
        </table>
        <mat-card-actions>
            <button class="btn btn-secondary submitButton " type="button" (click)="limpiarPuntos(formEscuderia)">Limpiar
            </button>
            <button class="btn btn-danger submitButton " type="button" (click)="enviarPuntos()">Enviar
            </button>
            <button [disabled]="isDisabled" class="btn btn-danger submitButton " type="button"
                (click)="updatePuntos()">Actualizar puntos
            </button>
        </mat-card-actions>

    </mat-card>
</form>