mat-card-actions{
    display: flex;
    justify-content: space-evenly;
}
.submitButton{
    width:30%;
    
}
::ng-deep .mat-select-value{
    color: #9D0000; // You may need to use important here, but it's just in a few cases
 }