<!--Pantalla padre de puntuaciones-->
<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Pilotos">
            <app-puntuacion-piloto></app-puntuacion-piloto>
        </mat-tab>
        <mat-tab label="Escuderias">
            <app-puntuacion-escuderia></app-puntuacion-escuderia>
        </mat-tab>

    </mat-tab-group>

</ng-template>