<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <table class="table table-bordered table-hover">
        <thead class=" thead-dark">
            <tr>
                <th scope="col">Piloto</th>
                <th scope="col">Escuderia</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let piloto of pilotos" class="table-dark">
                <td>{{piloto.nombre}}</td>
                <td>{{piloto.nombre_escuderia}}</td>
            </tr>




        </tbody>
    </table>
</ng-template>