<ng-container *ngIf="isLoading; then spinner; else table"></ng-container>
<ng-template #spinner>
    <mat-spinner class="spinner-center"></mat-spinner>
</ng-template>
<ng-template #table>
    <mat-card style="margin:10px;">
        <table class="table table-bordered table-hover table-striped">
            <thead class=" thead-dark">
                <tr class="pointer">
                    <th scope="col" name="escuderia" (click)="fetchEscuderias('nombre')">Escuderia
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up</mat-icon>
                    </th>
                    <th scope="col" name="puntos" (click)="fetchEscuderias('puntos')">Puntos
                        <mat-icon *ngIf="direct === 'desc'">
                            keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="direct === 'asc'">
                            keyboard_arrow_up</mat-icon>
                    </th>
                    <th style="text-align: center;" *ngIf="rolPermitido">
                        <button mat-icon-button routerLink="/escuderias/nueva/escuderia">
                            <mat-icon style="font-size:32px">add_circle</mat-icon>
                        </button>
                        <span style="margin-left: 5px;">Añadir</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let escuderia of escuderias" class="table-dark" style="color:#9D0000">
                    <td style="text-align: left;">{{escuderia.nombre_escuderia}}</td>
                    <td style="text-align: left;">{{escuderia.puntos_escuderia}}</td>

                    <td style="text-align: center;" *ngIf="rolPermitido">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="/escuderias/{{escuderia.id_escuderia}}">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="delete(escuderia.id_escuderia)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>


    </mat-card>

</ng-template>